# List

In [6]:
A = [2,5,-1,3,3,100,-20]

In [7]:
sorted(A)

[-20, -1, 2, 3, 3, 5, 100]

In [8]:
A[1:3]

[5, -1]

In [9]:
students = ['JI','Seung','Yeong']

In [11]:
students.append('hi')

In [12]:
students

['JI', 'Seung', 'Yeong', 'hi']

In [13]:
students.insert(1,'oh')

In [14]:
students

['JI', 'oh', 'Seung', 'Yeong', 'hi']

# Loop

In [15]:
name = "Ji seung Yeong"

In [16]:
for ch in name:
    if ch.isupper():
        print(ch)

J
Y

In [17]:
range(100,0,-1)

range(100, 0, -1)

In [21]:
for i in range(100,0,-6):
    print(i)

100
94
88
82
76
70
64
58
52
46
40
34
28
22
16
10
4

In [22]:
list(range(100,0,-5))

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]